body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: grey;
}

header {
  background-color: dimgrey;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sessao_ajuda h3 {
  color: dimgrey;
  margin-bottom: 10px;
}

.sessao_ajuda ul {
  list-style: none;
  padding: 0;
}

.sessao_ajuda ul li {
  margin: 10px 0;
}

.sessao_ajuda ul li img {
  height: 40px;
}

.sessao_ajuda ul li p {
  text-decoration: none;
  color: #333;
  transition: 0.25s;
}

.sessao_ajuda ul li a {
  text-decoration: none;
  color: #333;
  transition: 0.25s;
}

.sessao_ajuda ul li p:hover {
  color: #333;
  text-decoration: underline;
  font-size: 20px;
}

.sessao_ajuda ul li a:hover {
  color: #333;
  text-decoration: underline;
  font-size: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: dimgrey;
  color: white;
  margin-top: 20px;
}

