body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

nav{
    background-color: gray;
    height: 60px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 0 40px;
    align-items: center;
    border-radius: 35px;
    > div{
        display: flex;
        justify-content: center;
        gap: 15px;
        > a{
            color: white;
            padding: 7px;
            border-radius: 10px;
            text-decoration: none;
            transition: 0,5s;
        }
    }
    > img{
        height: 40px;
    }
}

#dropdown-toggle {
    display: none;
}

.dropdown {
    position: relative;
    display: flex;
}

.dropdown-btn {
    background-color: gold;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

.dropdown-content {
    display: none;
    margin-top: 43px;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 7px;
    font-size: small;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
    color: white;
}

#dropdown-toggle:checked + .dropdown-btn + .dropdown-content {
    display: block;
}

.pesquisar{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
}

.pesquisar > input{
    width: 460px;
    border: none;
    font-size: medium;
    outline: none;
}

nav > a:hover{
    background-color: lightslategray;
    text-decoration: underline;
}

.cabecalho {
    background-color: rgb(88, 88, 88);
    color: white;
    text-align: center;
    padding: 2rem;
}

.conteudo {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.sobre, .objetivo {
    margin-bottom: 2rem;
}

h1, h2 {
    margin-bottom: 1rem;
    transition: 0.5s;
}

h2:hover{
    font-size: 30px;
}

p {
    color: #555;
}

.autor{
    color: white;
}

